<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{page.title}} : jimvanfleet.com</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="openid.server" href="http://www.myopenid.com/server">
    <link rel="openid.delegate" href="http://bigfleet.myopenid.com/">
    <link rel="icon" href="/favicon.png" type="image/png">
    
    
    <link href="/stylesheets/tomayko.css" rel="stylesheet" type="text/css" />
    <link type='text/css' href='/stylesheets/small-device.css' rel='stylesheet' media='only screen and (max-width: 480px)'>    
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/bigfleet" />
    
  </head>
  <body>
    
    <div id='container'>
      <div class='entry' id='content'>
        <div id='header'>
          <div class="banner-wrap">
            <p><a href='/' rel='me author'>Jim Van Fleet</a></p>

          <h1 id='title'>{{page.title}}</h1>
          <p class='date'>{{page.date}}</p>
          </div>          
        </div>
        <div id='body'>        
          {{ content }}
        </div>

      </div>

      <div id='footer'>
        <!-- I honestly do not even care. -->
        <table>
          <tr>
            <td class="avatar">
                <img src="/images/Jim-Avatar_punchout.gif" width="150" height="150" alt="bigfleet's avatar">              
              </td>

            <td>
                <ul>
                  <li id="blog-item"><span><a href="http://www.someguysblog.com/">Blog</a></span></li>
                  <li id="social-item"><span><a href="http://bigfleet.mp/">Social</a></span></li>
                  <li id="code-item"><span><a href="http://github.com/bigfleet">Code</a></span></li>
                </ul>
                
                <p class='rights'>
                  Copyright
                  <a href="http://creativecommons.org/licenses/by-sa/2.5/" rel="license">&copy;</a>
                  2003-2010
                  by
                  <a href='/about.html' rel='me author'>Jim Van Fleet</a>.
                </p>

                </td>
                
              </tr>
            </table>
          
        </div>

      </div>

      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-101797-1");
      pageTracker._initData();
      pageTracker._trackPageview();
      </script>
  </body>
</html>
