<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{page.title}} : jimvanfleet.com</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/bigfleet" />
    
  </head>
  <body>
    
    <div id="wrap">
      <div id="header">
        <div id="right">

          <a href="http://feeds.feedburner.com/bigfleet"><img src="images/feed.png" alt="feed button"/></a><br/>
          <a href="http://feeds.feedburner.com/bigfleet">Feed</a>
        </div>
        <p class="description">Welcome to...</p>
        <h2><a href="/">jimvanfleet.com</a></h2>
      </div>
      <div id="content">
    
        <h1>{{page.title}}</h1>
        {{ page.content }}
      </div>
        <div id="sidebar">

    	  <h2>My links</h2>
    	  <ul>
    		<li><a href="http://www.someguysblog.com/">Blog</a></li>
    		<li><a href="http://www.linkedin.com/in/jimvanfleet">LinkedIn</a></li>
    		<li><a href="http://flickr.com/photos/bigfleet/">Flickr</a></li>
    		<li><a href="http://www.43things.com/person/bigfleet">43things</a></li>
    		<li><a href="http://www.last.fm/user/bigfleet/">last.fm</a></li>
    		<li><a href="http://twitter.com/bigfleet">Twitter</a></li>
    		<li><a href="http://del.icio.us/bigfleet">del.icio.us</a></li>
    	  </ul>

    	  <h2>Other Links</h2>
    	  <ul>
    		<li><a href="http://jimvanfleet.net/">Jim Van Fleet & The Reign</a></li>
    	  </ul>

          <h2>Contact</h2>
          <p>
            aol im: sndbommin<br/>
            yahoo: xman<br/>
            e-mail: jim@jimvanfleet.com
          </p>

        </div>

      </div>

      <div id="footer">
        &copy; <a href="http://www.jimvanfleet.com/">Jim Van Fleet</a>  | Powered by <a href="http://dairon.net/2006/12/19/mephisto-theme-called-sharp000">Sharp000</a> v1.1 theme.
      </div>
      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-101797-1");
      pageTracker._initData();
      pageTracker._trackPageview();
      </script>
  </body>
</html>
